<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>







        <form action="/findteam" method="post">
            <label for="">find your team</label>
            <input type="text" name="teamname" id="">
            <input type="submit" value="search">
            
            
        </form>
</body>
</html>